<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
"http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="e" class="beans.Engine" >
		<property name="modelYear" value="2018"/>
	</bean>
	<bean id="car" class="beans.Car" dependency-check="simple" > 
		<property name="carcarname" value="Audi"/>
		<property name="engine" ref="e"/>
	</bean>
</beans>